@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --white: #ffffff;
    --sidebar: #2d2926;
    --menus: #00acc1;
    --htxt: #585858;
    --yellow: linear-gradient(60deg, #ffa726, #fb8c00);
    --green: linear-gradient(60deg, #66bb6a, #43a047);
    --meroon: linear-gradient(90deg,#0c2646 0,#204065 60%,#2a5788);
}

.img-info{
    font-size: 12px;
    background: #2d292612;
    display: inline-block;
    padding: 10px;
}

body{
    background-color: #eeeeee;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(--sidebar);
    color: var(--white);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.sidebar .logo{
    text-align: center;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #4e4e51;
}

.sidebar .logo img{
    height: 25px;
}

.sidebar ul{
    margin: 15px 10px;
}

.sidebar ul li{
    align-items: center;
    width: 100%;
    padding: 15px;
    border-radius: 2px;
}

.sidebar ul li p{
    display: flex;
    cursor: pointer;
}

.sidebar ul li.active{
    background-color: var(--menus);
}

.sidebar ul li p span{
    margin-right: 7px;
}

.sidebar ul li .tb{
    padding-left: 35px;
}

.sidebar ul li .tb p{
    margin: 6px 0;
}

main{
    margin-left: 250px;
}

main nav{
    padding: 20px 10px;
    background-color: #eeeeee;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    z-index: 10;
}

nav .hd{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .hd h3{
    color: var(--htxt);
}

main nav .bars{
    cursor: pointer;
    display: none;
}

main nav .bars span{
    width: 25px;
    height: 3px;
    background-color: var(--htxt);
    position: relative;
    display: inline-block;
    transition: .4s;
}

main nav .bars span::before,main nav .bars span::after{
    position: absolute;
    content: "";
    left: 0;
    width: 25px;
    height: 3px;
    background-color: var(--htxt);
    transition: .4s;
}

main nav .bars span::before{
    top: -8px;
}

main nav .bars span::after{
    top: 8px;
}

main nav .bars.active span{
    background-color: transparent;
}

main nav .bars.active span::before,main nav .bars.active span::after{
    top: 0;
}

main nav .bars.active span::before{
    transform: rotate(45deg);
}

main nav .bars.active span::after{
    transform: rotate(-45deg);
}

main .content{
    margin-top: 62px;
    padding: 25px 15px;
}

main .content .ov .banners{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

main .content .ov .banners img{
    width: 100%;
}

main .content .ov p{
    color: var(--htxt);
}

main .content .ov .nos{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .content .ov .nos .no{
    flex-basis: 40%;
    margin: 0 10px;
    padding: 15px 25px;
    border-radius: 7px;
    color: var(--white);
}

main .content .ov .nos .no:nth-child(1){
    background: var(--yellow);
}

main .content .ov .nos .no:nth-child(2){
    background: var(--green);
}

main .content .ov .nos .no .tot{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .content .ov .nos .no .tot span{
    font-size: 35px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba( 255, 255, 255, 0.25 );
}

main .content .ov .nos .no .tot .tn{
    font-weight: bold;
    font-size: 50px;
    color: var(--white);
}

main .content .add{
    color: var(--htxt);
    margin: 20px 0;
}

main .content .add .adbtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;
    width: 80%;
    height: 143px;
    background: var(--meroon);
    padding: 20px 25px;
    border-radius: 7px;
    color: var(--white);
    cursor: pointer;
}

main .content .add .adbtn p{
    color: var(--white);
    display: flex;
    align-items: center;
}

main .content .add .adbtn p span{
    margin-right: 10px;
}

main .content .add .pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 10;
    display: none;
    align-items: center;
}

main .content .add .pop.active{
    display: flex;
}

main .content .add .pop .close,main .content .feedback .ffd .close{
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: .5%;
}

main .content .add .pop .close span,main .content .feedback .ffd .close span{
    position: relative;
    display: inline-block;
}

main .content .add .pop .close span::before,main .content .add .pop .close span::after,
main .content .feedback .ffd .close span::before,main .content .feedback .ffd .close span::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 20px;
    height: 2px;
    background-color: gray;
    display: inline-block;
}

main .content .add .pop .close span::before,main .content .feedback .ffd .close span::before{
    transform: rotate(45deg);
}

main .content .add .pop .close span::after,main .content .feedback .ffd .close span::after{
    transform: rotate(-45deg);
}

main .content .add .pop .pops{
    position: relative;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-radius: 5px;
    color: var(--sidebar);
    background: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .content .add .pop .pops p{
    cursor: pointer;
    margin: 15px 0;
}

main .content .feedback{
    width: 100%;
    margin: 15px 0;
}

main .content .feedback p{
    color: var(--htxt);
}

main .content .feedback .fd{
    width: 100%;
    margin: 10px 0;
}

main .content .feedback .fd li{
    width: 100%;
    padding: 8px;
    word-break: break-all;
    border: 1px solid #80808047;
    cursor: pointer;
}

main .content .feedback .ffd{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,.7);
    display: none;
}

main .content .feedback .ffd.active{
    display: block;
}

main .content .feedback .ffd .fc{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    border-radius: 5px;
    margin: 0 auto;
    transform: translate(-50%,-50%);
    background: rgb(223, 223, 223);
}

main .content .feedback .ffd .datas{
    color: var(--sidebar);
    border-radius: 10px;
    border-collapse: collapse;
}

main .content .feedback .ffd .datas tr{
    width: 100%;
    word-break: break-all;
    text-align: center;
}

main .content .feedback .ffd .datas tr td{
    width: 50%;
    padding: 30px;
}

main .content .feedback .ffd .datas tr td{
    line-height: 27px;
    border: 1px solid #c7c7c7;
}

main .content .list{
    display: none;
}

main .content .list.active{
    display: block;
}

main .content .list .search{
    margin: 20px 0;
    position: relative;
}

main .content .list .search input{
    width: 100%;
    padding: 10px;
    background: none;
    border-radius: 5px;
    border: 1px solid var(--htxt);
}

main .content .list .search span{
    position: absolute;
    right: 0;
    color: red;
    cursor: pointer;
    height: 100%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    display: none;
}

main .content .list .price{
    position: relative;
    margin: 0 10px;
    display: inline-block;
}

main .content .list .price p{
    cursor: pointer;
}

main .content .list .price div .lh{
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    color: var(--htxt);
}

main .content .list .price div{
    position: absolute;
    left: 0;
    width: 190px;
    padding: 10px;
    background-color: #eeeeee;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    display: none;
}

main .content .list .price.active div{
    display: block;
}

main .content .list .price div select{
    width: 100%;
    padding: 3px;
    margin: 10px 0;
    border-radius: 5px;
    outline: none;
    background: none;
}

main .content .list .price div button{
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    color: white;
}

main .content .list .price div button#apply.active{
    pointer-events: none;
}

main .content .studios h3,main .content .trainers h3{
    color: var(--htxt);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .content .list h3 button{
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--menus);
    border-radius: 5px;
}

main .content .studios ul,main .content .trainers ul{
    padding: 15px;
}

main .content .studios ul li, main .content .trainers ul li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #80808029;
}

main .content .studios ul li div, main .content .trainers ul li div{
    display: flex;
    align-items: center;
}

main .content .studios ul li div span, main .content .trainers ul li div span{
    margin: 0 25px;
    color: gray;
}

main .content .studios ul li button,main .content .trainers ul li button{
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background: var(--green);
    color: var(--white);
    border: none;
    display: flex;
    align-items: center;
}

main .content .studios ul li button span,main .content .trainers ul li button span{
    margin: 0 5px;
    font-size: 20px;
    color: var(--white);
}

main .content .double{
    display: flex;
    padding: 10px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}

main .content .double form{
    flex-basis: 50%;
    margin: 25px auto;
    padding: 10px 20px;
    background-color: #eeeeee;
}

main .content .double form h3{
    text-align: center;
    color: var(--htxt);
    margin-bottom: 10px;
}

main .content .double form .di{
    color: var(--htxt);
    margin: 15px 0;
}

main .content .double form .fields,main .content .double form .fields label,main .content .double form 
.fields label input,main .content .double form .fields select{
    width: 100%;
}

main .content .double form .fields{
    margin: 30px 0;
}

main .content .double form .fields label{
    position: relative;
    display: block;
}

main .content .double form .fields label input,main .content .double form .fields label select{
    border: 1px solid #80808059;
    border-radius: 5px;
    padding: 15px 10px;
    background: none;
    font-size: 15px;
    color: var(--htxt);
}

main .content .double form .fields label span{
    position: absolute;
    top: 50%;
    left: 20px;
    background-color: #eeeeee;
    color: #989898;
    padding: 0 5px;
    border-radius: 5px;
    transform: translateY(-50%);
    transition: .4s;
}

main .content .double form .fields label input:focus{
    border-color: #808080ad;
}

main .content .double form .fields label input:valid + span,
main .content .double form .fields label input:focus + span,
main .content .double form .fields label select:focus + span,
main .content .double form .fields label select:valid + span,
main .content .double form .fields label span#ca{
    top: 0;
    left: 15px;
    font-size: 13px;
    font-weight: bold;
    color: var(--htxt);
}

main .content .div{
    flex-basis: 50%;
}

main .content .div img{
    margin: 35px auto;
    width: 100%;
    object-fit: cover;
}

main .content .double form .btn{
    text-align: center;
}

main .content .double form .btn button{
    font-size: 15px;
    padding: 7px 9px;
    border-radius: 5px;
    background-color: var(--menus);
    margin-bottom: 15px;
    cursor: pointer;
    color: var(--white);
    border: none;
    pointer-events: auto;
}

main .content .double form .btn button.active{
    pointer-events: none;
    background-color: rgb(197, 197, 197);
}

.ns,.nt{
    font-size: 15px;
}

#loads {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
    z-index: 100;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -76px 0 0 -76px;
    border: 16px solid #e7e6e6;
    border-radius: 50%;
    border-top: 16px solid #e81b1b;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0%{
    transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 900px){
    .sidebar{
        left: -100%;
        z-index: 15;
        transition: .4s;
    }

    .sidebar.active{
        left: 0;
    }

    main{
        margin-left: 0;
    }

    main nav {
        left: 0;
        width: 100%;
    }

    main nav .bars{
        display: block;
    }
}

@media(max-width: 850px){
    main .content .double form{
        padding: 10px;
    }

    main .content .double{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    main .content .double form{
        flex-basis: 100%;
    }

    main .content .div{
        flex-basis: 100%;
        margin: 35px auto;
    }

    main .content .double form{
        margin: 25px 0;
    }
}

@media(max-width: 500px){
    main .content .studios ul, main .content .trainers ul{
        padding: 15px 0;
    }
}

@media(max-width: 650px){
    main .content .ov .nos{
        flex-wrap: wrap;
    }

    main .content .ov .nos .no{
        flex-basis: 100%;
        margin: 25px 10px;
    }
    
    main .content .add .pop .pops,main .content .feedback .ffd .fc{
        width: 95%;
    }

    main .content .add .pop .close, main .content .feedback .ffd .close{
        right: 8%;
    }
}